<h2>users.edit.html.erb</h2>
<h3>ユーザー設定</h3>
<p>ユーザー画像:<%= attachment_image_tag current_user, :user_img, :fill, 100, 100, fallback: "no_image.png" %></p>
<p>ユーザーネーム:<%= current_user.user_handle_name %></p>
<p>eメール:<%= current_user.email %></p>
<p>パスワード:<%= current_user.password %></p>
<p>紹介文:<%= current_user.user_introduct %></p>

<h3>発注管理</h3>
<% @alone_illusts.each do |alone_illust| %>
	<% alone_illust.orders.each do |order| %>
		<p>注文番号:<%= order.id %></p>
		<p>商品名:<%= link_to item_path(order.item.id) do %><%= order.item.item_name %><% end %></p>
		<p>商品画像:<%= link_to item_path(order.item.id) do %><%= attachment_image_tag order.item, :item_img, :fill, 100, 100 %><% end %></p>
		<p>イラスト名:<%= link_to alone_illust_path(order.alone_illust.id) do %><%= order.alone_illust.al_illust_name %><% end %></p>
		<p>イラスト画像:<%= link_to alone_illust_path(order.alone_illust.id) do %><%= attachment_image_tag order.alone_illust, :al_illust_img, :fill, 100, 100 %><% end %></p>
		<p>注文進捗:
			<% if order.status == 0 %>出品者からの応答を待っています。
			<% elsif order.status == 1 %>出品者からの納品を待っています。
			<% elsif order.status == 2 %>あなたからの評価を待っています。
				<p>添削イラスト画像:<%= link_to active_illust_path(order.active_illust.id) do %><%= attachment_image_tag order.active_illust, :a_illust_img, :fill, 100, 100 %><% end %></p>
				<p>添削イラスト名:<%= link_to active_illust_path(order.active_illust.id) do %><%= order.active_illust.a_illust_name %><% end %></p>
				<p><%= link_to "評価", edit_active_illust_path(order.active_illust.id), class: "btn btn-success white-text" %></p>
			<% elsif order.status == 3 %>取引完了です。
				<p>添削イラスト画像:<%= link_to active_illust_path(order.active_illust.id) do %><%= attachment_image_tag order.active_illust, :a_illust_img, :fill, 100, 100 %><% end %></p>
				<p>添削イラスト名:<%= link_to active_illust_path(order.active_illust.id) do %><%= order.active_illust.a_illust_name %><% end %></p>
			<% end %>
		</p>
	<% end %>
<% end %>

<h3>受注管理</h3>
<% @items.each do |item| %>
	<% item.orders.each do |order| %>
		<p>注文番号:<%= order.id %></p>
		<p>商品名:<%= link_to item_path(order.item.id) do %><%= order.item.item_name %><% end %></p>
		<p>商品画像:<%= link_to item_path(order.item.id) do %><%= attachment_image_tag order.item, :item_img, :fill, 100, 100 %><% end %></p>
		<p>イラスト名:<%= link_to alone_illust_path(order.alone_illust.id) do %><%= order.alone_illust.al_illust_name %><% end %></p>
		<p>イラスト画像:<%= link_to alone_illust_path(order.alone_illust.id) do %><%= attachment_image_tag order.alone_illust, :al_illust_img, :fill, 100, 100 %><% end %></p>
		<p>注文進捗:
			<% if order.status == 0 %>あなたからの応答を待っています。
				<p><%= link_to "受注", order_path(order), method: :patch, class: "btn btn-primary white-text" %><%= link_to "断る", order_path(order), method: :delete, data: {confirm: "本当に注文番号<strong>#{order.id}</strong>を断ってよろしいですか？", cancel: "やめる", commit: "断る"}, title: "断りの確認", class: "btn btn-warning white-text" %></p>
			<% elsif order.status == 1 %>あなたからの納品を待っています。
				<p><%= link_to "納品", edit_order_path(order.id), class: "btn btn-success white-text" %></p>
			<% elsif order.status == 2 %>購入者からの評価を待っています。
				<p>添削イラスト画像:<%= link_to active_illust_path(order.active_illust.id) do %><%= attachment_image_tag order.active_illust, :a_illust_img, :fill, 100, 100 %><% end %></p>
				<p>添削イラスト名:<%= link_to active_illust_path(order.active_illust.id) do %><%= order.active_illust.a_illust_name %><% end %></p>
			<% elsif order.status == 3 %>取引完了です。
				<p>添削イラスト画像:<%= link_to active_illust_path(order.active_illust.id) do %><%= attachment_image_tag order.active_illust, :a_illust_img, :fill, 100, 100 %><% end %></p>
				<p>添削イラスト名:<%= link_to active_illust_path(order.active_illust.id) do %><%= order.active_illust.a_illust_name %><% end %></p>
			<% end %>
		</p>
	<% end %>
<% end %>

<h3>商品管理</h3>
<% @items.each do |item| %>
	<p>商品名:<%= link_to item_path(item.id) do %><%= item.item_name %><% end %></p>
	<p>商品画像:<%= link_to item_path(item.id) do %><%= attachment_image_tag item, :item_img, :fill, 100, 100 %><% end %></p>
	<p>商品紹介文:<%= item.item_introduct %></p>
	<p>添削条件設定</p>
	<p>画像サイズ</p>
	<p>B4:<% if item.item_limited_size_b4 == true %>○<% else %>×<% end %>A4:<% if item.item_limited_size_a4 == true %>○<% else %>×<% end %></p>
<% end %>

<h3>イラスト管理</h3>
<% @alone_illusts.each do |alone_illust| %>
	<p>イラスト名:<%= link_to alone_illust_path(alone_illust.id) do %><%= alone_illust.al_illust_name %><% end %></p>
	<p>イラスト画像:<%= link_to alone_illust_path(alone_illust.id) do %><%= attachment_image_tag alone_illust, :al_illust_img, :fill, 100, 100 %><% end %></p>
	<p>イラスト紹介文:<%= alone_illust.al_illust_introduct %></p>
	<p>添削条件設定</p>
	<p>画像サイズ:<%= alone_illust.size.size_name %></p>
<% end %>
