<!DOCTYPE html>
<html>
  <head>
    <title>1000円ブラッシュ</title>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"> 
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p><%= link_to "トップページに戻る", root_path, class: "btn btn-info white-text" %></p>
    <%= yield %>
  </body>
</html>
